* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --primary-color: #4caf50;
  --secondary-color: #f44336;
  --background-color: #f0f0f0;
  --text-color: #333;
}

.todo-card {
  background-color: var(--background-color);
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  padding: 20px;
  width: 100%;
  max-width: 450px;
  margin: 2rem auto;
}

.todo-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.todo-card-priority {
  background-color: var(--secondary-color);
  color: white;
  padding: 0.5rem;
  border-radius: 4px;
  margin-top: 1rem;
}

.todo-card-description {
  margin-top: 1.5rem;
  color: var(--text-color);
  white-space: normal; /* Allows text to wrap to the next line */
  word-wrap: break-word;
  text-align: center;
}

.todo-card-dates {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1rem;
  padding: 0.5rem;
}

.todo-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  padding: 0.5rem;
}

.todo-tags {
  list-style-type: none;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.todo-tag {
  background-color: var(--primary-color);
  color: white;
  padding: 0.5rem;
  border-radius: 4px;
}
